In [18]:
f = open("toto2.txt", "w")

prenom = "Matthieu"
f.write(f"Bonjour, je suis {prenom}\nEt je fais du python !\n")
f.close()

In [19]:
with open("toto2.txt") as f:
    print(f.readlines())
    print(f.closed)

print(f.closed)

['Bonjour, je suis Matthieu\n', 'Et je fais du python !\n']
False
True

In [20]:
with open("toto2.txt", "w") as f:
    prenom = "Matthieu"
    f.write(f"Bonjour, je suis {prenom}\nEt je fais du python !\n")

In [21]:
# les variables "fuitent" (leak) des blocs, 
# le seul bloc qui ne fuite pas, c'est les fonctions
for i in range(10):
    tototo = i 

print(tototo)

9

In [24]:
with open("toto2.txt") as f1, open("toto.txt") as f2:
    print(f1.readlines())
    print(f2.readlines())

['Bonjour, je suis Matthieu\n', 'Et je fais du python !\n']
['Bonjour, je suis Matthieu\n', 'Et je fais du python !\n', 'Bonjour, je suis Matthieu\n', 'Et je fais du python !\n', 'Bonjour, je suis Matthieu\n', 'Et je fais du python !\n', 'Bonjour, je suis Matthieu\n', 'Et je fais du python !\n']

In [29]:
def inutile(p=[]):
    p.append("toto")
    print(p)

def inutile_vide_a_chaque_fois(p=None):
    if p is None:
        p = []
    # p = p or []
    p.append("toto")
    print(p)

In [30]:
inutile()

['toto']

In [31]:
inutile()

['toto', 'toto']

In [32]:
inutile_vide_a_chaque_fois()

['toto']

In [33]:
inutile_vide_a_chaque_fois()

['toto']

In [35]:
def ma_fonction(nombre):
    return nombre * 2 

print(ma_fonction(3))

####################

ma_fonction_lambda = lambda nombre: nombre * 2
print(ma_fonction_lambda(4))

6
8

In [46]:
data = ["Project","Gutenberg’s","Alice’s","Adventures",
"in","Wonderland","Project","Gutenberg’s","Adventures",
"in","Wonderland","Project","Gutenberg’s"]
list(map(lambda x: (x,1), data))

[('Project', 1),
 ('Gutenberg’s', 1),
 ('Alice’s', 1),
 ('Adventures', 1),
 ('in', 1),
 ('Wonderland', 1),
 ('Project', 1),
 ('Gutenberg’s', 1),
 ('Adventures', 1),
 ('in', 1),
 ('Wonderland', 1),
 ('Project', 1),
 ('Gutenberg’s', 1)]

In [44]:
def fonction_a_appliquer(x):
    return (x,1)

res = []
for e in data:
    res.append(fonction_a_appliquer(e))

print(res)

[('Project', 1), ('Gutenberg’s', 1), ('Alice’s', 1), ('Adventures', 1), ('in', 1), ('Wonderland', 1), ('Project', 1), ('Gutenberg’s', 1), ('Adventures', 1), ('in', 1), ('Wonderland', 1), ('Project', 1), ('Gutenberg’s', 1)]

In [47]:
[(x, 1) for x in data]  # list comprehension
######
res = []
for x in data:
    res.append((x, 1))

In [51]:
def ma_nouvelle_fonction():
    return ma_nouvelle_fonction_autre()

def ma_nouvelle_fonction_autre():
    return 3

ma_nouvelle_fonction()

2

# Types de données en Python

## Listes

In [53]:
ma_liste = [1, 2, 3]
ma_liste.append(4)
print(ma_liste)
ma_liste.pop(0)
print(ma_liste)
print(len(ma_liste))

[1, 2, 3, 4]
[2, 3, 4]
3

In [60]:
ma_liste = [1, "riri", 3, [1, [2], 3, (1, 2, 3)]]
print(ma_liste)
ma_liste[1] = 2
print(ma_liste)

[1, 'riri', 3, [1, [2], 3, (1, 2, 3)]]
[1, 2, 3, [1, [2], 3, (1, 2, 3)]]

## Tuples

In [62]:
mon_tuple = (1, 2, [3, 2], (2, 432))
print(type(mon_tuple))
print(mon_tuple)

<class 'tuple'>
(1, 2, [3, 2], (2, 432))

In [57]:
mon_tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
mon_tuple[2] = 3

TypeError: 'tuple' object does not support item assignment

## Dictionnaires

In [75]:
mon_dict = {"Matthieu": "06xxxxxx", "Antoine": "07xxxxxxx"}
mon_dict["Nicolas"] = ["06xxxxxx", "06xxxxxxx2"]
mon_dict["Matthieu"] = "07xxxxx"
mon_dict[1] = [1, 2, 3]
print(mon_dict)
#mon_dict["Mathieu"]

{'Matthieu': '07xxxxx', 'Antoine': '07xxxxxxx', 'Nicolas': ['06xxxxxx', '06xxxxxxx2'], 1: [1, 2, 3]}

In [71]:
mon_dict[1]

[1, 2, 3]

In [73]:
mon_dict[(1, 2, 3)] = 4
print(mon_dict)

{'Matthieu': '07xxxxx', 'Antoine': '07xxxxxxx', 'Nicolas': '06xxxxxx', 1: [1, 2, 3], (1, 2, 3): 4}

In [74]:
mon_dict[[1, 2, 3]] = 4
print(mon_dict)

TypeError: unhashable type: 'list'

In [ ]:
sujet = "Candidature spontanee de Matthieu Falce"
# vous devez écrire une fonction qui retourne compte chacune 
# des lettre présentes dans sujet (a apparait N fois, d apparait K fois...)